# Environment Variables for the Express.js API
API_PORT=8080 # Or a different port if you already have an application running on this port.
API_CLIENT_APP_URL=http://localhost:3000 # Or whatever domain the create-react-app front-end can be accessed from.
API_DEV_MODE=true # Set this to `true` to disable TLS/SSL connections to the PostgreSQL database.

# Environment Variables for the PostgreSQL Database
PG_DB=heartbeat
PG_DB_USER=admin # Replace "postgres_user" with a unique username.
PG_DB_PASSWORD=admin # Replace "postgres_password" with a strong password. 

# Environment Variables for pgAdmin
PGADMIN_EMAIL=emailaddress@service.com # Replace "emailaddress@service.com" with your e-mail address.
PGADMIN_PASSWORD=pgadmin_password # Replace "pgadmin_password" with a strong password.